[
  { ssl, [
	  { versions, [ 'tlsv1.2', 'tlsv1.1' ] }
	] },
	{ rabbit, [
		{ loopback_users, [ ] },
		{ tcp_listeners, [ ] },
		{ ssl_listeners, [ 5671 ] },
		{ ssl_options, [
			{ cacertfile, "/etc/rabbitmq/tls/ca_rsa-x509.pem" },
			{ certfile, "/etc/rabbitmq/tls/server_rsa-x509.pem" },
			{ fail_if_no_peer_cert, true },
			{ keyfile, "/etc/rabbitmq/tls/server_rsa-key.pem" },
			{ verify, verify_peer },
			{ versions, [ 'tlsv1.2', 'tlsv1.1' ] },
			{ ciphers,  [
                {rsa,aes_256_gcm,null,sha384},
                {rsa,aes_128_gcm,null,sha256},
                {rsa,aes_256_cbc,sha},
                {rsa,aes_128_cbc,sha}
            ] }
		] },
		{ hipe_compile, false }
	] },
	{ rabbitmq_management, [ { listener, [
		{ port, 15672 },
		{ ssl, false }
	] } ] }
].
